:root {
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --interactive-color: #2196F3;
    --bg-color: #2F303A;
    --text-color-on-dark-bg: #FFFFFF;
    --addr-color: rgba(255, 255, 255, 0.6);
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.link {
    text-decoration: none;
}

.items {
    list-style: none;
}

.link:hover, 
.link:focus {
    color: var(--interactive-color);
}

.active {
    color: var(--interactive-color);
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.header-logo-left {
    color: var(--interactive-color);
}

.header-logo-right {
    color: var(--main-text-color);
}

.menu-item {
    color: var(--main-text-color);
}

.item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contact {
    color: var(--secondary-text-color);
}

.title-section {
    background: var(--bg-color);
}

.title-section-slogan {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--text-color-on-dark-bg);
}

.title-section-button {
    cursor: pointer;
    font-family: inherit;

    background: var(--interactive-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    line-height: 1.88;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--text-color-on-dark-bg);
}

.quality-name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.quality-description {
    font-size: 14px;
    line-height: 1.71;

    color: var(--secondary-text-color);
}

.subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.staff {
    background: #F5F4FA;
}

.staff-photo {
    background: var(--secondary-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.staff-name {
    font-weight: 500;
    line-height: 1.18;
    text-align: center;
}

.staff-position {
    line-height: 1.18;
    text-align: center;

    color: var(--secondary-text-color);
}

.footer {
    background: var(--bg-color);
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.footer-logo-left {
    color: var(--interactive-color);
}

.footer-logo-right {
    color: var(--text-color-on-dark-bg);
}

.footer-address {
    font-style: normal;
}

.footer-address-str {
    font-size: 14px;
    line-height: 1.71;

    color: var(--text-color-on-dark-bg);
}

.footer-e-mail {
    font-size: 14px;
    line-height: 1.71;

    color: var(--addr-color);
}

.footer-tel {
    font-size: 14px;
    line-height: 1.71;

    color: var(--addr-color)
}

.filter-button {
    cursor: pointer;
    font-family: inherit;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    border-radius: 4px;
}

.filter-button:hover {
    background-color: var(--interactive-color);
    color: var(--text-color-on-dark-bg);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.filter-description {
    line-height: 1.88;

    color: var(--secondary-text-color);
}